In [10]:
import pandas as pd
pd.set_option('display.max_columns', None)
df = pd.read_csv("WPP2024_Demographic_Indicators_Medium.csv.gz", dtype=str)

In [15]:
df.columns

Index(['SortOrder', 'LocID', 'Notes', 'ISO3_code', 'ISO2_code', 'SDMX_code',
       'LocTypeID', 'LocTypeName', 'ParentID', 'Location', 'VarID', 'Variant',
       'Time', 'TPopulation1Jan', 'TPopulation1July', 'TPopulationMale1July',
       'TPopulationFemale1July', 'PopDensity', 'PopSexRatio', 'MedianAgePop',
       'NatChange', 'NatChangeRT', 'PopChange', 'PopGrowthRate',
       'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR', 'NRR', 'MAC',
       'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR', 'LEx', 'LExMale',
       'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65', 'LE65Male',
       'LE65Female', 'LE80', 'LE80Male', 'LE80Female', 'InfantDeaths', 'IMR',
       'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040', 'Q0040Male',
       'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female', 'Q1550',
       'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male', 'Q1560Female',
       'NetMigrations', 'CNMR'],
      dtype='object')

In [16]:
df.loc[df.Location=="Ireland"].head()

,SortOrder,LocID,Notes,ISO3_code,ISO2_code,SDMX_code,LocTypeID,LocTypeName,ParentID,Location,VarID,Variant,Time,TPopulation1Jan,TPopulation1July,TPopulationMale1July,TPopulationFemale1July,PopDensity,PopSexRatio,MedianAgePop,NatChange,NatChangeRT,PopChange,PopGrowthRate,DoublingTime,Births,Births1519,CBR,TFR,NRR,MAC,SRB,Deaths,DeathsMale,DeathsFemale,CDR,LEx,LExMale,LExFemale,LE15,LE15Male,LE15Female,LE65,LE65Male,LE65Female,LE80,LE80Male,LE80Female,InfantDeaths,IMR,LBsurvivingAge1,Under5Deaths,Q5,Q0040,Q0040Male,Q0040Female,Q0060,Q0060Male,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR
65360,202,372,NaN,IRL,IE,372,4,Country/Area,924,Ireland,2,Medium,1950,2898.772,2912.654,1481.766,1430.888,42.6032,103.5558,28.999,29.117,9.997,27.764,0.953,72.7332,66.938,1.17,22.982,3.4973,1.5408,31.617,105.9,37.821,20.079,17.742,12.985,65.5775,64.5026,66.7364,54.7124,53.9825,55.5016,13.0121,12.4316,13.6211,5.5742,5.2666,5.8534,2.956,44.2961,64.501,3.536,53.211,120.6427,122.6062,118.6405,262.4964,279.9267,244.0884,111.9509,112.3167,111.5707,214.7462,228.6422,200.1982,-1.352,-0.464
65361,202,372,NaN,IRL,IE,372,4,Country/Area,924,Ireland,2,Medium,1951,2926.536,2936.864,1493.587,1443.277,42.9573,103.4858,28.8192,25.463,8.67,20.656,0.703,98.5985,67.981,1.228,23.147,3.5477,1.5753,31.631,105.7,42.518,22.539,19.98,14.477,64.754,63.5056,66.1061,53.8727,53.0299,54.7877,12.0028,11.5227,12.5058,4.8974,4.6298,5.147,3.003,44.4345,65.5,3.647,54.2751,117.5108,124.0668,110.6497,268.2237,288.8833,246.168,109.6945,115.2766,103.7628,220.4812,236.9818,203.0089,-4.807,-1.637
65362,202,372,NaN,IRL,IE,372,4,Country/Area,924,Ireland,2,Medium,1952,2947.192,2941.462,1494.669,1446.793,43.0246,103.3091,28.8085,33.095,11.251,-11.459,-0.39,NaN,68.327,1.285,23.229,3.5601,1.6022,31.637,105.4,35.232,19.007,16.225,11.978,67.167,65.7702,68.6932,56.0834,54.9811,57.2917,13.3827,12.6499,14.165,5.89,5.4546,6.3044,2.812,41.7413,65.958,3.335,49.8262,100.4688,107.6493,92.9913,235.532,256.3675,213.4305,93.7685,98.883,88.3874,189.8769,207.5709,171.2369,-44.56,-15.149
65363,202,372,NaN,IRL,IE,372,4,Country/Area,924,Ireland,2,Medium,1953,2935.733,2929.08,1486.685,1442.396,42.8435,103.0705,28.9792,32.512,11.099,-13.305,-0.454,NaN,67.112,1.273,22.912,3.5345,1.602,31.635,105.5,34.6,18.441,16.159,11.813,67.9102,66.6917,69.2233,56.5462,55.5655,57.6037,13.4958,12.8323,14.186,5.858,5.5437,6.14,2.576,38.6397,64.93,3.057,46.1774,90.5117,95.5935,85.1989,224.0736,240.4799,206.8474,84.8309,86.407,83.1947,181.5671,195.4259,167.1077,-45.81,-15.64
65364,202,372,NaN,IRL,IE,372,4,Country/Area,924,Ireland,2,Medium,1954,2922.428,2915.174,1477.978,1437.195,42.6401,102.8377,29.1231,29.51,10.123,-14.509,-0.498,NaN,65.033,1.233,22.308,3.4669,1.5843,31.634,105.4,35.523,19.175,16.348,12.185,68.0063,66.4579,69.6991,56.4832,55.2848,57.7956,13.2483,12.5232,14.0101,5.6852,5.3046,6.0429,2.433,37.6383,62.965,2.876,44.6588,85.1169,92.5841,77.2868,218.4883,241.5259,193.8761,80.1976,87.4114,72.4978,177.6502,196.9131,157.2214,-44.02,-15.1

In [22]:
df.loc[df.LocTypeName=="Country/Area"].ParentID.unique()

array(['910', '911', '912', '913', '914', '5500', '906', '5501', '920',
       '922', '923', '924', '925', '926', '915', '916', '931', '918',
       '927', '928', '954', '957'], dtype=object)